.git
.gitignore
.env
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
bootstrap/cache/*.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
.phpunit.result.cache
phpunit.xml
postcss.config.js
tailwind.config.js
vite.config.js
package-lock.json
yarn.lock
.editorconfig
.npmrc
.gitattributes
README.md
logo-1.jpeg
__MACOSX